{
  description = "Devshell with nix-pyllow - make Python **just work** on NixOS";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
    flake-parts.url = "github:hercules-ci/flake-parts";
    devshell.url = "github:numtide/devshell";
    pyllow.url = "github:mauricege/nix-pyllow";
  };

  outputs = inputs @ {
    self,
    nixpkgs,
    flake-parts,
    devshell,
    pyllow,
    ...
  }:
    flake-parts.lib.mkFlake {inherit inputs;} {
      imports = [
        inputs.devshell.flakeModule
        inputs.pyllow.flakeModules.default
      ];

      systems = [
        # systems for which you want to build the `perSystem` attributes
        "x86_64-linux"
        # ...
      ];

      perSystem = {
        config,
        self',
        inputs',
        pkgs,
        system,
        ...
      }: {
        _module.args.pkgs = import self.inputs.nixpkgs {
          inherit system;
          config = {
            allowUnfree = true;
          };
        };
        
        devshells.default = {
          name = "{{ project_name }}";
          packages = with pkgs; [
            {{ python_package_manager }}
          ];
          env = [
            { name = "MY_ENV"; value = "My Env"; }
          ];
          pyllow = {
            enable = true;
            backend = "{{ pyllow_backend }}"; # or "nix-ld"
          };
        };
      };
    };
}
