{% include pathjoin("includes", "base.gitignore") %}
{% include pathjoin("includes", "devenv.gitignore") %}
{% include pathjoin("includes", "direnv.gitignore") %}
{% include pathjoin("includes", "python.gitignore") %}