#!/usr/bin/env bash
#SBATCH --job-name=demo_job
#SBATCH --time=00:10:00
#SBATCH --partition=# adapt this to a partition you have access to
#SBATCH --gpus=1
#SBATCH --cpus-per-task=8
#SBATCH --mem=5G
#SBATCH --output=./%x_%A.out

# This activates the environment (given .envrc is in the current directory)
# If you do not want to have the .envrc in your current directory, use this snippet
# pushd $(pwd)
# cd {{ _copier_conf.dst_path.as_posix() }}
# direnv allow . && eval "$(direnv export bash)"
# popd
direnv allow . && eval "$(direnv export bash)"

python --version

