inputs:
  mk-shell-bin:
    url: github:rrbutani/nix-mk-shell-bin
  nix2container:
    url: github:nlewo/nix2container
    inputs:
      nixpkgs:
        follows: nixpkgs
  nixpkgs-python:
    url: github:cachix/nixpkgs-python
    inputs:
      nixpkgs:
        url: github:nixos/nixpkgs/?rev=7ffe0edc685f14b8c635e3d6591b0bbb97365e6c
  unstable:
    url: github:NixOS/nixpkgs/nixos-unstable
allowUnfree: true
cudaSupport: {{ cudaSupport|string|lower }}
backend: nix
