inputs:
  devenv:
    url: github:cachix/devenv/latest?dir=src/modules
  nixpkgs:
    url: github:cachix/devenv-nixpkgs/rolling
  mk-shell-bin:
    url: github:rrbutani/nix-mk-shell-bin
  nix2container:
    url: github:nlewo/nix2container
    inputs:
      nixpkgs:
        follows: nixpkgs
  nixpkgs-python:
    url: github:cachix/nixpkgs-python
  unstable:
    url: github:NixOS/nixpkgs/nixos-unstable
allowUnfree: true
cudaSupport: {{ cudaSupport|string|lower }}
backend: nix
