{% extends pathjoin("includes", "_README.md.jinja") %}

{% block description %}
This folder contains a nix flake that exposes an FHS-compatible development shell that should behave just like a (boring) normal linux system. It still provides some nix features, like reproducibility and declarative isolated package management, but it is not as powerful as the [devenv](https://devenv.sh/) template.
{% endblock %}

{% block features %}
- Get's nix (mostly) out of your way
- {%- if python_package_manager == 'uv' %}Fast{% endif %} Python dependency management via `{{ python_package_manager }}`{%- if python_package_manager == 'uv' or python_package_manager == 'pixi' %} and `pyproject.toml`/`{{ python_package_manager }}.lock`{% endif %}
- System packages can be installed by adding them to `targetPkgs` in `flake.nix`
{% endblock %}

{% block getting_started %}
1. **Install [Nix](https://nixos.org/download.html)**
2. Enter the shell by running (from this directory):

    ```sh
    nix develop
    ```

    You can also activate the shell from another directory by running:

    ```sh
    nix develop {{ _copier_conf.dst_path.as_posix() }}
    ```

If you want to manage multiple python environments, consult your package manager's ({{ python_package_manager }}) documentation. You will always need to activate the nix environment first, then you can use the package manager to create and activate virtual environments.
{% endblock %}

{% block extending_environment %}
### Add System Packages

Edit `flake.nix` and add packages to the `targetPkgs` list of the `buildFHSEnv` function:

```nix
  ...
  {{ project_name }}-fhs = pkgs.buildFHSEnv (pkgs.appimageTools.defaultFhsEnvArgs
    // {
        name = "{{ project_name }}-fhs";
        targetPkgs = pkgs: (with pkgs; [
        {{ python_package_manager }}

        # makes shell more pleasant to use
        fzf
        zoxide

        {%- if codeserver %}
        # code server inside fhs
        openvscode-server
        {%- endif %}

        # shells
        {{ shell }}
        # add more packages here
        ]);
        profile = ...
        ...
```

You can use [NixOS search](https://search.nixos.org/packages) to find packages (or the CLI `nix-search`). Just copy the package name and add it to the `targetPkgs` list.
{% endblock %}

{% block reusing_environment %}
You can reuse this environment from any directory by running:

```sh
    nix develop {{ _copier_conf.dst_path.as_posix() }}
```

If you want to do this from a script, you can use the shebang line:

```sh
    #!/usr/bin/env -S nix run {{ _copier_conf.dst_path.as_posix() }}# --
```
{% if declarative_python_environment and not absolute_paths %}
{%- if python_package_manager == 'uv' %}
Make sure you have exported `UV_PROJECT` to the path of your project, e.g. in the `profile` attribute of `buildFHSEnv` in `flake.nix`:

```nix
  ...
  {{ project_name }}-fhs = pkgs.buildFHSEnv (pkgs.appimageTools.defaultFhsEnvArgs
    // {
        name = "{{ project_name }}-fhs";
        targetPkgs = pkgs: (with pkgs; [
        {{ python_package_manager }}
        ...
        ]);
        profile = ''
            export UV_PROJECT="{{ _copier_conf.dst_path.as_posix() }}"
            ...
        '';
    });
```
{%- elif python_package_manager == 'micromamba' %}
Make sure that `MAMBA_ROOT_PREFIX`is correctly set. If you have no global prefix set up, you might need to change the default in the `profile` attribute of `buildFHSEnv` in `flake.nix`:

```nix
  ...
  {{ project_name }}-fhs = pkgs.buildFHSEnv (pkgs.appimageTools.defaultFhsEnvArgs
    // {
        name = "{{ project_name }}-fhs";
        targetPkgs = pkgs: (with pkgs; [
        micromamba
        ...
        ]);
        profile = ''
            export MAMBA_ROOT_PREFIX="''${MAMBA_ROOT_PREFIX:-{{ _copier_conf.dst_path.as_posix() }}/.micromamba}"
            ...
        '';
    });
```
{%- elif python_package_manager == 'pixi' %}
Pixi uses the `--manifest-path` flag to determine the project path. You can adapt the `pythonActivate` variable in `flake.nix`:

```nix
    ...
    {%- if shell == "fish" %}
    pythonActivate = ''
        eval $(pixi shell-hook -s {{ shell }} --manifest-path {{ _copier_conf.dst_path.as_posix() }})
    '';
    {%- elif shell == "zsh" or shell == "bash" %}
    pythonActivate = ''
        eval "$(pixi shell-hook -s {{ shell }} --manifest-path {{ _copier_conf.dst_path.as_posix() }})"
    '';
    {%- endif %}
    in {
        devShells = rec {
            {{ project_name }} = self.packages.${system}.default.env.overrideAttrs (old: {
                ...
            });
        };
    }
```
{%- endif %}
{%- endif %}

See also the examples for [slurm jobs](gpujob.sh) and [scripts](script.sh) in this directory.
{% endblock %}

{% if codeserver %}
## Code server
`vscode.sh` is a slurm-submittable script that starts a code server instance in the FHS environment. It launches [openvscode-server](https://github.com/gitpod-io/openvscode-server) inside the shell, allowing you to access VS Code in your browser. It uses a random free port and saves the connection information to a file in the user's home directory.
{% endif %}
{% block resources %}
- [blog post on FHSEnvs for python](https://lavafroth.is-a.dev/post/cuda-on-nixos-without-sacrificing-ones-sanity/)
{%- if python_package_manager == 'uv' %}
- [uv documentation](https://docs.astral.sh/uv/)
{%- elif python_package_manager == 'pixi' %}
- [pixi documentation](https://pixi.sh/)
{%- endif %}
{%- if python_package_manager == 'uv' %}
- [flash-attn via uv](https://docs.astral.sh/uv/concepts/projects/config/#build-isolation)
{%- endif %}
{% endblock %}
