{
  description = ''FHS-compatible python development shell with {{ python_package_manager }}{%- if cudaSupport %} and CUDA{%- endif %}. Should make things "just work" for most users.'';

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-unstable";
    flake-utils.url = "github:numtide/flake-utils";
  };

  outputs = {
    self,
    nixpkgs,
    flake-utils,
    ...
  }:
    flake-utils.lib.eachSystem ["x86_64-linux" "aarch64-linux"] (
      system: let
        pkgs = import nixpkgs {
          inherit system;
          config.allowUnfree = true;
          cudaSupport = {{ cudaSupport|string|lower }};
        };
        {%- if python_package_manager == "micromamba" %}
        pythonInstall = ''
           if micromamba env list | grep -qw "$MAMBA_ROOT_PREFIX/envs/{{ project_name }}"; then
            echo "Updating environment {{ project_name }}..."
            micromamba install -q -y -f environment.yml
          else
            echo "Creating environment {{ project_name }}..."
            micromamba create -q -y -f environment.yml
          fi
        '';
        {{ python_package_manager }}Hook = ''
          {%- if shell == "fish" %}
          eval $(micromamba shell hook --shell=fish)
          {%- elif shell == "zsh" or shell == "bash" %}
          eval "$(micromamba shell hook --shell={{ shell }} | sed 's/complete / # complete/g')"
          {%- endif %}
          '';
        pythonActivate = ''
          micromamba activate {{ project_name }}
        '';
        {%- elif python_package_manager == "uv" %}
        uv = pkgs.writeShellScriptBin "uv" ''
          VENV_DIR="''${VIRTUAL_ENV:-''${UV_PROJECT:-$PWD}}"
          MOUNT_POINT=$(${pkgs.coreutils}/bin/df -P "$VENV_DIR" | tail -1 | ${pkgs.gawk}/bin/awk '{print $6}')
          # set the cache directory for uv to be on the same filesystem as the current working directory
          # This makes sure that cache files are hardlinked to the virtual environment and not copied

          # Try a shared cache directory first
          if [ -d "$MOUNT_POINT/.cache" ] && [ -w "$MOUNT_POINT/.cache" ]; then
            UV_CACHE_DIR="$MOUNT_POINT/.cache/uv"
          # Fallback to user-specific cache directory
          elif [ -d "$MOUNT_POINT/$USER/.cache" ] && [ -w "$MOUNT_POINT/$USER/.cache" ]; then
            UV_CACHE_DIR="$MOUNT_POINT/$USER/.cache/uv"
          fi
          export UV_CACHE_DIR
          echo "Using UV_CACHE_DIR: $UV_CACHE_DIR"
          exec ${pkgs.uv}/bin/uv "$@"
        '';
        pythonInstall = ''
          uv venv --python {{ python_version }} --allow-existing --managed-python
          uv sync{%- if install_flash_attention %} --extra flash_attention_build{% endif %}
          {%- if install_flash_attention %}
          # we need two uv syncs here - first to install flash-attention's build dependencies and then to compile it
          uv sync --extra flash_attention_build --extra flash_attention_compile
          {%- endif %}
        '';
        {{ python_package_manager }}Hook = ''
        ''; # Any additional {{ python_package_manager }} shell hook commands can be added here - should not be necessary
        pythonActivate = "source $UV_PROJECT/.venv/bin/activate{%- if shell == 'fish'%}.fish{%- endif %}";
        {%- elif python_package_manager == "pixi" %}
        pixi = pkgs.writeShellScriptBin "pixi" ''
          VENV_DIR="''${PIXI_PROJECT_MANIFEST:-''${PIXI_PROJECT_ROOT:-$PWD}}"
          MOUNT_POINT=$(${pkgs.coreutils}/bin/df -P "$VENV_DIR" | tail -1 | ${pkgs.gawk}/bin/awk '{print $6}')
          # set the cache directory for pixi to be on the same filesystem as the current working directory
          # This makes sure that cache files are hardlinked to the virtual environment and not copied

          if [ -d "$MOUNT_POINT/$USER/.cache" ] && [ -w "$MOUNT_POINT/$USER/.cache" ]; then
            PIXI_CACHE_DIR="$MOUNT_POINT/$USER/.cache/pixi"
          fi
          export PIXI_CACHE_DIR
          exec ${pkgs.pixi}/bin/pixi "$@"
        '';
        pythonInstall = "";
        {{ python_package_manager }}Hook = ''
        ''; # Any additional {{ python_package_manager }} shell hook commands can be added here - should not be necessary
        pythonActivate = ''
          {%- if shell == 'fish' %}
          eval $(pixi shell-hook -s {{ shell }})
          {%- elif shell == 'zsh' or shell == 'bash' %}
          eval "$(pixi shell-hook -s {{ shell }})"
          {%- endif %}
        '';
        {%- endif %}
      in {
        devShells = rec {
          {{ project_name }} = self.packages.${system}.default.env.overrideAttrs (old: {
            name = "{{ project_name }}";
          });
          default = {{ project_name }};
        };
        packages = rec {
          {{ project_name }}-fhs = pkgs.buildFHSEnv (pkgs.appimageTools.defaultFhsEnvArgs
            // {
              name = "{{ project_name }}-fhs";
              targetPkgs = pkgs: (with pkgs; [
                {{ python_package_manager }}

                # makes shell more pleasant to use
                fzf
                zoxide

                {%- if codeserver %}
                # code server inside fhs
                openvscode-server
                {%- endif %}

                # shells
                {{ shell }}

                # libraries
                libxcrypt-legacy # needed for older python versions

                {%- if cudaSupport %}
                # CUDA
                cudatoolkit
                {%- endif %}
              ]);
              profile = ''
                {%- if cudaSupport %}
                export CUDA_PATH="${pkgs.cudatoolkit}"
                {%- endif %}
                export EXTRA_CCFLAGS="-I/usr/include"
                {%- if python_package_manager == 'micromamba' %}
                export MAMBA_ROOT_PREFIX="''${MAMBA_ROOT_PREFIX:-{{ _copier_conf.dst_path.as_posix() if absolute_paths else '$PWD' }}/.micromamba}"
                {%- endif %}
                {%- if python_package_manager == 'uv' and declarative_python_environment %}
                # Adapt this path if you want to use an environment from a different location
                export UV_PROJECT="{{ _copier_conf.dst_path.as_posix() if absolute_paths else '$PWD' }}"
                {%- elif python_package_manager == 'pixi' %}
                # Adapt this path if you want to use an environment from a different location
                export PIXI_PROJECT_MANIFEST="{{ _copier_conf.dst_path.as_posix() if absolute_paths else '$PWD' }}/pyproject.toml"
                {%- endif %}
                {%- if shell == 'zsh' or shell == 'bash' %}
                ${{ '{' ~  python_package_manager }}Hook}
                {%- endif %}
                {%- if declarative_python_environment %}
                ${pythonInstall}
                {%- if shell == "zsh" or shell == "bash" %}
                ${pythonActivate}
                {%- endif %}
                {%- endif %}
              '';
              runScript = ''{%- if shell == "fish" %}fish -C "${builtins.replaceStrings ["\n"] ["; "] ({{ python_package_manager }}Hook{%- if declarative_python_environment %} + pythonActivate{%- endif %})}"{%- elif shell == "zsh" or shell == "bash" %}{{ shell }}{%- endif %}'';
            });
          default = {{ project_name }}-fhs;
        };
      }
    );
}
