name: {{ project_name }}
channels:
  - conda-forge
  - pytorch
  - nvidia
dependencies:
  - python={{ python_version }}
  {%- if install_flash_attention %}
  - flash-attn
  {%- endif %}
  {%- for pkg in python_packages.replace(',', ' ').split() %}
  - {{ pkg }}
  {%- endfor %}
